{% if site.footer_fixed %}
  <footer class="fixed-bottom" role="contentinfo">
    <div class="container mt-0">
      
      {{ site.footer_text }}
      <br /><br />
      &copy; Copyright {{ site.time | date: '%Y' }} {{ site.title }}. 
      {% if site.last_updated %}
        Last updated: {{ 'now' | date: '%B %d, %Y' }}.
      {% endif %} <br/>
      {{ site.impressum_path }}
      <!-- {% if site.impressum_path %}
        <a href="{{ site.url }}{{ site.baseurl }}{{ site.impressum_path }}">Impressum</a>.
      {% endif %} -->

    </div>
  </footer>
{% else %}
  <footer class="sticky-bottom mt-5" role="contentinfo">
    <div class="container">
      <div class="row" style="width:90%; margin:0 auto;">
        <div class="col-md-4">
          <a  href="https://www.dlls.univr.it/">
            {% assign logo_univr_dills = "logo-univr-dills.png" | prepend: './assets/img/' %}
            <!-- {% capture sizes %}480px{% endcapture %} -->
              {%
                include figure.liquid loading="eager" height="95px" width="auto" path=logo_univr_dills sizes=sizes alt="Logos of the University of Verona and Department of Foreign Languages and Literatures" cache_bust=true
              %}
          </a>
        </div>
        <div class="col-md-3">          
          <a  href="https://www.anvur.it/en/activities/departments/">
            {% assign logo_univr_dills = "logo-eccellenza_MUR_Colore.png" | prepend: './assets/img/' %}
            <!-- {% capture sizes %}480px{% endcapture %} -->
              {%
                include figure.liquid loading="eager" height="95px" width="auto" path=logo_univr_dills sizes=sizes alt="Logos of the University of Verona Department of Excellence 2023-2027" cache_bust=true
              %}
          </a>
        </div>
        <div class="col-md-5">
          <a  href="https://inclusivehumanities.eu/">
            {% assign logo_univr_dills = "logo-InclusiveHumanities_acolori_trasp.png" | prepend: './assets/img/' %}
            <!-- {% capture sizes %}480px{% endcapture %} -->
              {%
                include figure.liquid loading="eager" height="95px" width="auto" path=logo_univr_dills sizes=sizes alt="Logos of the Inclusive Humanities project" cache_bust=true
              %}
          </a>
        </div>
      </div>
      <!-- {{ site.footer_text }} -->
      <br />
      &copy; Copyright {{ site.time | date: '%Y' }} {{ site.title }}.
      {% if site.last_updated %}
        Last updated: {{ 'now' | date: '%B %d, %Y' }}.
      {% endif %} <br/>
      {{ site.impressum_path }}
      <!-- {% if site.impressum_path %}
        <a href="{{ site.url }}{{ site.baseurl }}{{ site.impressum_path }}">Impressum</a>.
      {% endif %} -->

    </div>
  </footer>
{% endif %}
